.product-card {
	display: grid;
  grid-template-columns: repeat($gridColumns, minmax(0, 1fr));
	flex-wrap: wrap;
}

.product-card__image {
	grid-column: span 12;
	height: fit-content;
	width: 358px;

	@include mediaDown(md) {
		max-width: 100%;
		margin-bottom: 20px;
	}

	@include mediaUp(md) {
		max-width: none;
		grid-column: span 4;
		justify-self: flex-end;
	}
}

.product-card__description {
	grid-column: span 12;

	@include mediaUp(md) {
		grid-column: span 7 / -1;
	}
}

.product-card__details {
	grid-column: span 12;
	width: 100%;
	margin-top: 40px;
	padding-top: 40px;
	flex: 1 1 100%;
	border-top: 1px solid var(--border);
}

.product-card__details-form {
	--gap: 15px 24px;
}

@include mediaUp(md) {
	.product-card__details-form > .button {
		width: fit-content;
	}
}

.product-card__actions {
	grid-column: span 12;
	flex: 1 1 100%;
	display: flex;
	gap: 15px;

	> * {
		flex: 1 0 0;
	}

	@include mediaUp(md) {
		gap: 10px;

		> * {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}
