.form-input {
	display: block;
	width: 100%;
	height: auto;
	padding: 15.5px 15px;
	border: 1px solid var(--border);
	border-radius: $radius-md;
	background-color: var(--mutedLightest);
	box-shadow: none;
	resize: none;
	color: var(--intense);
	font-size: var(--fontSize);
	line-height: 1.5;
	font-family: inherit;
	font-weight: 400;
	transition:
		background-color $duration-sm,
		border-color $duration-sm,
		color $duration-sm;

	@include placeholder() {
		color: var(--muted);
	}

	@include mediaUp(md) {
		padding: 14px 16px;
	}
}

.form-input:focus,
.form-input:focus-within {
	border-color: var(--brand);
	color: var(--intense);
	outline: none;
}
