<div class="tabs">
	<ul class="tabs__nav">
		<li class="tabs__nav-item is-open">Горный велосипед</li>
		<li class="tabs__nav-item">Женский велосипед</li>
	</ul>
	<div class="tabs__item is-open">
		<div class="tabs__item-header">
			<div>Горный велосипед</div>
			{{icon "chevron" class="tabs__item-arrow"}}
		</div>
		<div class="tabs__item-content">

			<article class="product-card">
				<img src="../../media/product-1.jpg" class="product-card__image" alt="product 1">

				<div class="product-card__description">
					<h1>Велосипед STELS Navigator 510 HD 26 2022</h1>
					<p>Данный велосипед с колесами 26 дюймов хорошо подходит высоким подросткам. Прогиб рамы и небольшой размер рамы расчитан на рост от 135 до 165 см.</p>
					<p>Суммарный вес велосипеда был снижен до 16,9 кг, так как рама была изготовлена с учетом использования велосипеда подростками.</p>
				</div>

				<div class="product-card__details">
					<h3>Характеристики</h3>

					<ol class="do-details-list">
						<li>Двойной обод</li>
						<li>Алюминиевый сплав</li>
						<li>Колеса диаметром 26 дюймов</li>
						<li>Покрышки 26х1,95"</li>
					</ol>

					<h3>Добавить характеристику</h3>

					<form class="product-card__details-form grid do-details-form">
						<input type="text" name="feature" class="form-input col-12 md:col-6" placeholder="Алюминиевый сплав">
						<button class="button button--primary col-12 md:col-6">Добавить</button>
					</form>
				</div>

				<div class="box product-card__actions">
					<button class="button button--primary">Окей</button>
					<button class="button">Отмена</button>
				</div>
			</article>

		</div>
	</div>
	<div class="tabs__item">
		<div class="tabs__item-header">
			<div>Женский велосипед</div>
			{{icon "chevron" class="tabs__item-arrow"}}
		</div>
		<div class="tabs__item-content">

			<article class="product-card">
				<img src="../../media/product-2.jpg" class="product-card__image" alt="product 2">

				<div class="product-card__description">
					<h1>Велосипед SCHWINN Traveler women 2022</h1>
					<p>Женский велосипед со стальной рамой Classic step-true lightweight позволяет девушкам без проблем его перемещать.</p>
					<p>На данном велосипеде имеется 7 скоростей с переключателями от Shimano, а жесткая вилка обеспечивает отличную управляемость. Подходит для катания по асфальтированным поверхностям.</p>
				</div>

				<div class="product-card__details">
					<h3>Характеристики</h3>

					<ul class="marker-bike do-details-list">
						<li>Стальная рама</li>
						<li>Жесткая вилка</li>
						<li>Колеса диаметром 24 дюймов</li>
						<li>7 скоростей</li>
					</ul>

					<h3>Добавить характеристику</h3>

					<form class="product-card__details-form grid do-details-form">
						<input type="text" name="feature" class="form-input col-12 md:col-6" placeholder="Алюминиевый сплав">
						<button class="button button--primary col-12 md:col-6">Добавить</button>
					</form>
				</div>

				<div class="box product-card__actions">
					<button class="button button--primary">Окей</button>
					<button class="button">Отмена</button>
				</div>
			</article>

		</div>
	</div>
</div>
