<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#3922C5">
	{{> head-scripts}}
</head>
<body>
	<main class="main grid">
		{{> @partial-block }}
	</main>
	{{> footer-scripts}}
</body>
</html>
